<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand kead" href="#">
        <img src="./image/CENTINELA.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Home
    </a>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="col-9 mt-3 mr-auto ml-auto">
            <div class="row">
                <div class="col-9 m-auto">
                    <img width="100%" src="./image/CENTINELA.png">
                </div>
            </div>
        </div>
        <div class="col-9 mt-3 mr-auto ml-auto"  class="animated bounce faster">
                <div class="row">
                    <div class="col-9 m-auto">
                        <button id="btn-sos" class="form-control" >
                            S. O. S.
                        </button>
                    </div>
                </div>
                <div class="row mt-3">                    
                    <div class="col-12">
                        <div id="conteo" style="text-align: center;"></div>
                        <div class="m-auto">
                            <button id="btn-desactivar" class="btn btn-warning form-control mt-3" hidden>Desactivar</button>
                            <button id="btn-cancelar" class="btn btn-danger form-control mt-3" hidden>Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="./views/home/home.js"></script>